/* Functions */
/* Mixins */
.arrow-base, .link-arrow.up:after, .link-arrow.down:after, .link-arrow.left:after, .link-arrow.right:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Classes */
.link-arrow {
  font-weight: bold;
  padding-right: 10px;
  margin-right: 5px; }
  .link-arrow.up {
    position: relative; }
    .link-arrow.up:after {
      left: 100%;
      bottom: 100%;
      border-bottom-color: inherit;
      border-width: 5px;
      margin-left: -5px; }
    .link-arrow.up:after {
      top: 50%;
      margin-top: -7px; }
  .link-arrow.down {
    position: relative; }
    .link-arrow.down:after {
      left: 100%;
      top: 100%;
      border-top-color: inherit;
      border-width: 5px;
      margin-left: -5px; }
    .link-arrow.down:after {
      top: 50%;
      margin-top: -1px; }
  .link-arrow.left {
    padding: 0 0 0 10px;
    margin: 0 0 0 5px;
    position: relative; }
    .link-arrow.left:after {
      right: 100%;
      top: 100%;
      border-right-color: inherit;
      border-width: 5px;
      margin-top: -5px; }
    .link-arrow.left:after {
      top: 50%;
      margin-right: -3px; }
  .link-arrow.right {
    position: relative; }
    .link-arrow.right:after {
      left: 100%;
      top: 100%;
      border-left-color: inherit;
      border-width: 5px;
      margin-top: -5px; }
    .link-arrow.right:after {
      top: 50%;
      margin-left: -3px;
      margin-top: -4px; }
