/* Buttons */
input::-moz-focus-inner {border:0;}

.btn-base {
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 6px 12px;
  box-shadow: inset 0 1px 0 white(0.2), 0 1px 2px black(0.05);
  font-family: $font-family-fancy;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
  &:active {
    background-image: none;
    box-shadow: inset 0 2px 4px black(0.15);
  }
}
a.btn,
a.btn-primary,
a.btn-info,
a.btn-inverse,
a.btn-danger {
  line-height: normal;
}

/* Colour variations */
.btn {
  @extend .btn-base;

  @include linear-gradient(#fafafa, #e6e6e6);
  border: 1px solid #ddd;
  border-color: #ddd #ddd #ccc;
  color: $color-gray;
  text-shadow: 0 1px 0 white(0.6);

  &:hover { 
    @include linear-gradient(lighten(#fafafa, 2%), lighten(#e6e6e6, 2%)); 
    box-shadow: inset 0 1px 0 white(0.2), 0 0 2px #eee;
  }
}
.btn-primary {
  @extend .btn-base;
  
  color: #fff;
  border: 1px solid #143b53;
  @include linear-gradient(#2A7AA6, #1C537B);
  text-shadow: 0 1px 0 black(0.4);

  &:hover {
    @include linear-gradient(lighten(#2A7AA6, 3%), lighten(#1C537B, 3%));
    box-shadow: inset 0 1px 0 white(0.2), 0 0 2px $color-blue;
  }
}
.btn-info {
  @extend .btn-base;

  color: #fff;
  border: 1px solid #3B8383;
  @include linear-gradient(#58B3B3, #3C8F8F);
  text-shadow: 0 1px 0 black(0.4);

  &:hover {
    @include linear-gradient(lighten(#58B3B3, 3%), lighten(#3C8F8F, 3%));
    box-shadow: inset 0 1px 0 white(0.2), 0 0 2px $color-teal;
  }
}
.btn-inverse {
  @extend .btn-base; 

  color: #fff;
  border: 1px solid $color-gray;
  @include linear-gradient(#adadad, #868686);
  text-shadow: 0 1px 0 black(0.4);

  &:hover { 
    @include linear-gradient(lighten(#adadad, 3%), lighten(#868686, 3%)); 
    box-shadow: inset 0 1px 0 white(0.2), 0 0 2px $color-gray;
  }
}
.btn-danger {
  @extend .btn-base;

  color: #fff;
  border: 1px solid #7d3032;
  text-shadow: 0 1px 0 black(0.4);
  @include linear-gradient(#c75558, #ad3a3c);

  &:hover { 
    @include linear-gradient(lighten(#c75558, 3%), lighten(#ad3a3c, 3%)); 
    box-shadow: inset 0 1px 0 white(0.2), 0 0 2px $color-red;
  }
}

/* Font variations */
.btn-fancy {
  font-family: $font-family-fancy;
  text-transform: uppercase;
}

/* Size variations */
.btn-small { font-size: 12px; }
.btn-large { 
  font-size: 14px; 
  padding: 9px 14px;
}
.btn-full  { width: 100%; }